<div class="loading-overlay" *ngIf="perfilService.carregando()">
  <div class="spinner"></div>
  <p class="loading-text">
    Conectando ao servidor em nuvem... Serviço gratuito, pode levar cerca de 1 minuto para inicializar a api no banco de dados. No Smartphone recarregue a página depois de 1 minuto
  </p>
</div>

<div class="portfolio" *ngIf="perfilService.dadosPerfil() as dados">
  
  <header class="hero">
    <h1>{{ dados.nome }}</h1>
    <h2>{{ dados.cargo }}</h2>
    
      <div class="hero-content">
          <img src="./perfil.jpg" alt="Foto de {{ dados.nome }}" class="avatar-foto">
      
        <div class="hero-texto">
          <p class="formacao">🎓 <strong>Formação:</strong> {{ dados.formacao }}</p>
          <p class="resumo" [innerHTML]="formatarResumo(dados.resumo)"></p>

          <ul class="lista-caracteristicas">
          <li>Disciplina</li>
          <li class="ponto-divisor">•</li>
          <li>Responsabilidade</li>
          <li class="ponto-divisor">•</li>
          <li>Compromisso</li>
          <li class="ponto-divisor">•</li>
          <li>Resiliência</li>
        </ul>

        </div>
      </div>

    <nav class="nav-menu">
      <button [class.active]="abaAtiva === 'projetos'" (click)="mudarAba('projetos')">📁 Projetos</button>
      <button [class.active]="abaAtiva === 'certificados'" (click)="mudarAba('certificados')">📜 Certificados</button>
      <button [class.active]="abaAtiva === 'contato'" (click)="mudarAba('contato')">📞 Contatos</button>
    </nav>
  </header>

  <!-- Componente de Projetos -->
  <app-projetos 
    *ngIf="abaAtiva === 'projetos'" 
    [listaProjetos]="perfilService.projetos()">
  </app-projetos>

  <!-- Componente de Certificados -->
  <app-certificados 
    *ngIf="abaAtiva === 'certificados'" 
    [listaCertificados]="perfilService.certificados()">
  </app-certificados>

  <!-- Seção de Contato -->
     <app-contato 
    *ngIf="abaAtiva === 'contato'" 
    [dados]="dados">
  </app-contato>
  
</div>
